body{
     background-color: #000000; 
     color: white;
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
}

.lightmode{
  background-color: white;
  color: #000000;
  background-position: center;
  background-size: cover;
}

.container {
    background-color: #3a3a3a;
    overflow: hidden;
    /* display: flex;
    flex-direction: row; */
    top:0%;
    position: sticky;
  }
.container a{
    cursor: pointer;
    float: left;
    color: #fafafa;
    text-align: end;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;

  }
  .container a:hover{
      color: crimson;
  }
  .search{
    float: right;
  }

.search input[type=text] {

    
    height: 26px;
    font-size: 17px;
    width: 200px;
    margin-top: 8px; 
    margin-bottom: 8px;
    margin-right: 10px;
    padding:8px 8px;
    border-radius: 20px;
    align-items: center;
}
.image{
  float:right;

}

.header{
  text-align: center;
  /* color: #fafafa; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 'Arial Narrow Bold', sans-serif;
}
#intro{
  text-align: center;
  /* color: #fafafa; */
  font-family: Arial, Helvetica, sans-serif;
}
.explore{
  position: absolute;
  left:47%;
  padding: 15px;
  cursor: pointer;
  border: 0.5px solid #406a86;
  background-color: transparent; 
  text-align: center;
   color: #df9d0f; 
  border-radius: 5px;
}
button.toggleButton{
  cursor: pointer;
   position: absolute;
   margin-top: 10px;
   border-radius: 48px; 
}


.footer1{
  display: flex;
  /* color: #fafafa; */
  margin-top: 50px;
  padding: 90px;
  background-color: #575555;
  align-items: center;
  justify-content: center;
}




.footer2{
  display: flex;
  
  padding: 27px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text1{
  margin-bottom: 15px;
  /* color: #f8f8f8; */
  font-size: 23px;
 
}
.text2{
margin-bottom: 4px;
color: #4b4a4a;

}
.shirsho {
  margin-right: 3px;
  text-decoration: none;
  /* color: #dde9f1; */
}
.simun{
margin-right: 3px;
text-decoration: none;
/* color: #dde9f1; */
}
.vivek{
  text-decoration: none;
  /* color: #dde9f1; */
}